@import url(fonts.css);
@-webkit-keyframes slide-on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-off {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-off {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes move-light {
  from {
    -webkit-transform: translateX(-12em) skew(-45deg);
            transform: translateX(-12em) skew(-45deg);
  }
  to {
    -webkit-transform: translateX(26em) skew(-45deg);
            transform: translateX(26em) skew(-45deg);
  }
}

@keyframes move-light {
  from {
    -webkit-transform: translateX(-12em) skew(-45deg);
            transform: translateX(-12em) skew(-45deg);
  }
  to {
    -webkit-transform: translateX(26em) skew(-45deg);
            transform: translateX(26em) skew(-45deg);
  }
}

@-webkit-keyframes move-light-icon {
  from {
    -webkit-transform: translateX(-10em) skew(-45deg);
            transform: translateX(-10em) skew(-45deg);
  }
  to {
    -webkit-transform: translateX(10em) skew(-45deg);
            transform: translateX(10em) skew(-45deg);
  }
}

@keyframes move-light-icon {
  from {
    -webkit-transform: translateX(-10em) skew(-45deg);
            transform: translateX(-10em) skew(-45deg);
  }
  to {
    -webkit-transform: translateX(10em) skew(-45deg);
            transform: translateX(10em) skew(-45deg);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  z-index: 1;
}

body {
  z-index: 0;
  margin: 0;
  background: url(../img/brick_016_min_3.jpg);
  background-size: 133% 113%;
}

.bg_box {
  width: 100%;
  height: calc(100% - 425px);
}

.up-box {
  position: fixed;
  bottom: 21px;
  right: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #cda100;
  -webkit-box-shadow: 0 0 16px 0 #ffdd61;
          box-shadow: 0 0 16px 0 #ffdd61;
}

.up-box:hover {
  cursor: pointer;
  background-color: #f5cd40;
  -webkit-box-shadow: 0 0 16px 0 #fff2c3;
          box-shadow: 0 0 16px 0 #fff2c3;
}

.arrow_up {
  margin: 0;
  width: 35px;
  height: 35px;
}

.locked {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.mask,
.mask-footer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.mask-footer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.bg_img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  margin: 0;
  width: 100%;
}

.cask {
  position: absolute;
  top: 579px;
  left: 140px;
  z-index: -1;
  width: 426px;
}

.bg_box {
  z-index: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 24px auto;
  width: 90%;
  height: 300px;
}

.head_box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.92);
  -webkit-box-shadow: inset 0px 0px 13px 1px #cda100;
          box-shadow: inset 0px 0px 13px 1px #cda100;
  border-radius: 30px;
}

.hide_menu {
  display: none;
  position: absolute;
  right: 66px;
  top: 41px;
  z-index: 3;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 0px 20px 0px #cda100;
          box-shadow: inset 0px 0px 20px 0px #cda100;
}

.hide_menu:hover {
  cursor: pointer;
}

.hide_menu__box {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 20px 0px #cda100;
          box-shadow: 0px 0px 20px 0px #cda100;
}

.hide_menu__img {
  width: 60px;
  height: 60px;
}

.hide_menu__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
  font-family: "alger";
  color: #cda100;
  font-size: 22px;
}

.logo_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
}

.logo_box__img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #cda100a6;
  -webkit-box-shadow: 0 0 20px 5px #cda100;
          box-shadow: 0 0 20px 5px #cda100;
  margin-left: 62px;
}

.logo_box__img:before {
  content: '';
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #cda1001a;
}

.logo {
  width: 100%;
  height: 100%;
}

.info_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
}

.ss_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
}

.link_ss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 44px;
  height: 44px;
  margin-left: 4px;
}

.ss_img {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 4px;
  left: 15px;
}

.lang_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #cda100;
  font-family: "MEL";
  margin-top: -21px;
  width: 41%;
}

.lng_opt-info {
  display: none;
  margin: 0;
  text-shadow: 0 1px 2px white;
  -webkit-animation-name: slide-on;
          animation-name: slide-on;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.icon_text {
  margin: 2px 0 0 2px;
  font-family: "alger";
  color: #cda100;
  font-size: 20px;
}

.lang_icon,
.burn_box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background-color: rgba(205, 161, 0, 0.3);
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 8px 0px #cda100;
          box-shadow: 0px 0px 8px 0px #cda100;
  margin-left: 10px;
}

.lang_icon:hover .icon_text,
.burn_box:hover .icon_text {
  color: #ffdd61;
}

.shine-icon {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 34px;
  height: 34px;
  overflow: hidden;
  border-radius: 50%;
}

.shine-icon:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(249, 225, 136, 0)), color-stop(50%, rgba(205, 161, 0, 0.9)), to(rgba(249, 225, 136, 0)));
  background: linear-gradient(to bottom, rgba(249, 225, 136, 0), rgba(205, 161, 0, 0.9) 50%, rgba(249, 225, 136, 0));
  -webkit-transform: translateX(-10em) skew(-45deg);
          transform: translateX(-10em) skew(-45deg);
  -webkit-animation: move-light-icon;
          animation: move-light-icon;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.shine-icon-ss {
  position: absolute;
  top: -3px;
  left: 9px;
  width: 34px;
  height: 34px;
  overflow: hidden;
  border-radius: 50%;
}

.shine-icon-ss:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(249, 225, 136, 0)), color-stop(50%, rgba(205, 161, 0, 0.9)), to(rgba(249, 225, 136, 0)));
  background: linear-gradient(to bottom, rgba(249, 225, 136, 0), rgba(205, 161, 0, 0.9) 50%, rgba(249, 225, 136, 0));
  -webkit-transform: translateX(-10em) skew(-45deg);
          transform: translateX(-10em) skew(-45deg);
  -webkit-animation: move-light-icon;
          animation: move-light-icon;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.lang_icon:hover {
  background-color: #b1a36fb8;
  -webkit-box-shadow: 0px 0px 8px 2px #ffeca6;
          box-shadow: 0px 0px 8px 2px #ffeca6;
  cursor: pointer;
}

.link_ss:hover .burn_box {
  background-color: #715c12;
  -webkit-box-shadow: 0px 0px 8px 2px #ffeca6;
          box-shadow: 0px 0px 8px 2px #ffeca6;
}

.img_icon {
  width: 41px;
  height: 41px;
  position: absolute;
  top: -5px;
  left: -5px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 29%;
  text-shadow: 0px 1px 2px white;
}

.address-link {
  text-decoration: none;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-family: "MEL";
  color: #cda100;
  -webkit-animation-name: slide-on;
          animation-name: slide-on;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-family: "MEL";
  text-decoration: none;
  color: #cda100;
  -webkit-animation-name: slide-on;
          animation-name: slide-on;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.nav-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  margin-left: 34px;
  height: 40px;
  width: 95%;
  color: #cda100;
  -webkit-animation-name: slide-on;
          animation-name: slide-on;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.nav_text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "alger";
  height: 20px;
  width: 15%;
  font-size: 43px;
  margin: 59px 0px 10px 0px;
  text-decoration: none;
  color: #cda100;
}

@media (min-width: 993px) {
  .nav_text:hover {
    color: #f9e188;
    cursor: pointer;
    -webkit-animation-name: slide-on;
            animation-name: slide-on;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
  }
}

.gallery_scroll {
  width: 25%;
}

.promo_scroll {
  width: 25%;
}

.event {
  width: 30%;
}

.about_us {
  width: 17%;
}

.open-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 90%;
  margin: 0 auto;
  height: 50px;
  margin-bottom: 215px;
}

.bg_text_1 {
  position: absolute;
  font-family: "BR";
  color: black;
  top: -8px;
  right: 84px;
  font-size: 32px;
}

.hops {
  position: absolute;
  top: -24px;
  left: 38px;
  width: 300px;
}

.beer {
  position: absolute;
  top: -23px;
  right: 49px;
  width: 188px;
}

.lng_opt-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16%;
  height: 100%;
  color: #f5ca2c;
  font-family: "BR";
  font-size: 57px;
  text-shadow: 2px 3px 7px rgba(0, 0, 0, 0.92);
  margin: 21px 0px 0px 170px;
  -webkit-animation-name: slide-on;
          animation-name: slide-on;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  margin-left: 22px;
  -webkit-animation-name: slide-on;
          animation-name: slide-on;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.open_time {
  color: #f5ca2c;
  font-family: "BR";
  font-size: 57px;
  text-shadow: 2px 3px 7px rgba(0, 0, 0, 0.92);
  margin: 0;
}

.gallery-box {
  position: relative;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.bg_text {
  position: absolute;
  font-family: "BR";
  color: black;
  top: 313px;
  left: -26px;
  font-size: 46px;
  text-shadow: 0px -1px 2px #ffb324;
  z-index: 3;
}

.gallery {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 56%;
  height: 369px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.92);
  -webkit-box-shadow: inset 0px 0px 13px 1px #cda100;
          box-shadow: inset 0px 0px 13px 1px #cda100;
}

.gold {
  position: absolute;
  width: 165px;
  top: 30px;
  left: 30px;
}

.gold_left {
  position: absolute;
  width: 165px;
  top: 30px;
  right: 26px;
}

.lng_opt-section-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "alger";
  color: #f5ca2c;
  width: 100%;
  font-size: 43px;
  margin: -21px 0px -27px 0px;
  -webkit-animation-name: slide-on;
          animation-name: slide-on;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.slider_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.zoom {
  width: 57%;
  height: 0;
  -webkit-box-shadow: 0px 0px 8px 4px #ad7101;
          box-shadow: 0px 0px 8px 4px #ad7101;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44%;
}

.slider-link {
  display: none;
  -webkit-animation-name: slide-on;
          animation-name: slide-on;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.left_box,
.right_box {
  width: 29%;
}

.left_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-img {
  width: 306px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 9px 0px #ec9e0a;
          box-shadow: 0px 0px 9px 0px #ec9e0a;
}

.left_arrow,
.right_arrow {
  width: 26px;
}

.left_arrow:hover,
.right_arrow:hover {
  cursor: pointer;
  width: 30px;
}

.promotion-box {
  position: relative;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 116px;
  margin-bottom: 98px;
}

.promotion {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 56%;
  height: 369px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.92);
  -webkit-box-shadow: inset 0px 0px 13px 1px #cda100;
          box-shadow: inset 0px 0px 13px 1px #cda100;
}

.promo-volume {
  position: absolute;
  top: 37px;
  left: 37px;
  margin: 0;
  font-family: "BR";
  font-size: 27px;
  color: #daca8e;
  -webkit-transform: rotate(-38deg);
          transform: rotate(-38deg);
}

.beer-multi {
  position: absolute;
  bottom: 28px;
  right: 35px;
  font-family: "MEL";
  color: #daca8e;
  text-shadow: 0px 1px 2px white;
  margin: 0;
}

.lng_opt-promotion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "alger";
  color: #f5ca2c;
  width: 100%;
  font-size: 43px;
  margin: -21px 0px -27px 0px;
  -webkit-animation-name: slide-on;
          animation-name: slide-on;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.content-promotion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 55%;
}

.promo_info {
  display: none;
  font-family: "MEL";
  color: #cda100;
  text-shadow: 0px 1px 2px white;
  font-size: 22px;
}

.promotion-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 44%;
}

.gps {
  width: 230px;
}

.point-text {
  margin: 0;
  font-size: 61px;
  font-family: "BR";
  color: #f5ca2c;
  text-shadow: 2px 3px 7px rgba(0, 0, 0, 0.92);
}

.gps-point {
  font-family: "MEL";
  color: #daca8e;
  text-shadow: 0px 1px 2px white;
  margin: 0;
}

.gps-text {
  position: absolute;
  top: 78px;
  right: -19px;
  font-family: "BR";
  font-size: 41px;
  color: black;
  text-shadow: 0px 1px 2px #efb64c;
  -webkit-transform: rotate(-36deg);
          transform: rotate(-36deg);
}

.footer-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 425px;
  width: 90%;
}

.bg_text-2 {
  position: absolute;
  font-family: "BR";
  color: black;
  left: 244px;
  top: 123px;
  font-size: 65px;
  text-shadow: 0px -1px 2px #ffb324;
}

.cask-left {
  position: absolute;
  left: 49px;
  top: 1589px;
  width: 522px;
  z-index: -1;
}

.footer-about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 56%;
  height: 369px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.92);
  -webkit-box-shadow: inset 0px 0px 13px 1px #cda100;
          box-shadow: inset 0px 0px 13px 1px #cda100;
}

.lng_opt-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "alger";
  color: #f5ca2c;
  width: 100%;
  font-size: 43px;
  margin: -21px 0px -27px 0px;
  -webkit-animation-name: slide-on;
          animation-name: slide-on;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.footer-about-info {
  display: none;
  font-family: "MEL";
  color: #cda100;
  text-shadow: 0px 1px 2px white;
  font-size: 22px;
}

.copyrights-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 62px;
  width: 90%;
}

.copyrights {
  font-family: "MEL";
  color: #f5e528;
  text-shadow: 0px 1px 2px #cda100;
  padding: 10px 20px;
  margin: 21px 20px;
  font-size: 22px;
  border-radius: 20%;
  background-color: rgba(0, 0, 0, 0.3);
}

.copyrights > a {
  font-family: "BR";
  font-size: 26px;
  text-decoration: none;
  color: #f5e528;
}

.aside-mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-animation-name: slide-on;
          animation-name: slide-on;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.events,
.about {
  position: fixed;
  top: 30%;
  left: 23%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 56%;
  height: 369px;
  border-radius: 30px;
  font-family: "BR";
  background-color: rgba(0, 0, 0, 0.92);
  color: #f9e188;
  -webkit-box-shadow: inset 0px 0px 13px 1px #cda100;
          box-shadow: inset 0px 0px 13px 1px #cda100;
  -webkit-animation-name: slide-on;
          animation-name: slide-on;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.close-events {
  position: absolute;
  top: 18px;
  right: 18px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #cda100;
  -webkit-box-shadow: 0 0 16px 0 #ffdd61;
          box-shadow: 0 0 16px 0 #ffdd61;
}

.close-events:hover {
  cursor: pointer;
  background-color: #f5cd40;
  -webkit-box-shadow: 0 0 16px 0 #fff2c3;
          box-shadow: 0 0 16px 0 #fff2c3;
}

.close {
  margin: 0;
  width: 35px;
  height: 35px;
}

.event-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25%;
  width: 100%;
  margin: 0;
  font-size: 45px;
}

.event-name > span {
  display: block;
  width: 15px;
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 57px;
  width: 100%;
  height: 15%;
}

.timer > p {
  margin: 0 6px 0 16px;
}

.event-promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 80%;
  height: 60%;
  margin: 0 auto;
  font-family: "MEL";
  font-size: 16px;
  text-align: justify;
}

.close-event {
  -webkit-animation-name: slide-off;
          animation-name: slide-off;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-logo {
  position: absolute;
  top: 83px;
  left: 93px;
  width: 184px;
  height: 184px;
  border-radius: 50%;
  background: #cda100a6;
  -webkit-box-shadow: 0 0 20px 5px #cda100;
          box-shadow: 0 0 20px 5px #cda100;
}

.shine-logo {
  position: absolute;
  top: 83px;
  left: 93px;
  height: 184px;
  width: 184px;
  overflow: hidden;
  border-radius: 50%;
}

.shine-logo:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5em;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(249, 225, 136, 0)), color-stop(50%, rgba(205, 161, 0, 0.9)), to(rgba(249, 225, 136, 0)));
  background: linear-gradient(to bottom, rgba(249, 225, 136, 0), rgba(205, 161, 0, 0.9) 50%, rgba(249, 225, 136, 0));
  -webkit-transform: translateX(-2em) skew(-45deg);
          transform: translateX(-2em) skew(-45deg);
  -webkit-animation: move-light;
          animation: move-light;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.info-about {
  margin-left: 20%;
}

.about_list {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about_list > p {
  margin: 0;
  font-size: 26px;
}

.more {
  position: absolute;
  bottom: 20px;
  right: -8px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "MEL";
  font-size: 22px;
  text-shadow: 0 1px 2px white;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.more > a {
  font-family: "MEL";
  font-size: 22px;
  text-decoration: none;
  color: #f9e188;
}

.more a > span {
  font-family: "BR";
  font-size: 26px;
}

.ru {
  font-family: "BR";
  font-size: 62px;
}

.ru-gallery {
  font-family: "BR";
  font-size: 52px;
}

.active-slider {
  display: block;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.active_select {
  color: #f7fbb7;
}

@media (max-width: 1519px) {
  .bg_text-2 {
    top: 121px;
    font-size: 57px;
  }
  .cask-left {
    width: 412px;
    top: 1631px;
  }
}

@media (max-width: 1380px) {
  .nav_text {
    font-size: 39px;
  }
  .cask {
    top: 617px;
    left: 118px;
    width: 352px;
  }
  .bg_text {
    top: 335px;
    left: -26px;
    font-size: 44px;
  }
  .gold {
    width: 142px;
  }
  .gold_left {
    width: 142px;
  }
  .left_arrow {
    margin-right: 18px;
  }
  .right_arrow {
    margin-left: 18px;
  }
  .footer-about-info {
    font-size: 19px;
  }
  .cask-left {
    width: 373px;
    left: 26px;
  }
  .bg_text-2 {
    left: 174px;
    font-size: 47px;
  }
}

@media (max-width: 1280px) {
  .logo {
    width: 150px;
    height: 150px;
  }
  .lang_box {
    margin-top: -15px;
    font-size: 14px;
  }
  .info-text {
    font-size: 14px;
  }
  .ru {
    font-size: 52px;
  }
  .gold_left {
    width: 95px;
  }
  .gold {
    width: 95px;
  }
  .gps-text {
    font-size: 35px;
  }
}

@media (max-width: 1201px) {
  .logo_box {
    width: 22%;
  }
  .info_box {
    width: 78%;
  }
  .nav_text {
    font-size: 32px;
  }
  .lng_opt-open {
    margin: 10px 0px 0px 71px;
    font-size: 50px;
  }
  .open_time {
    font-size: 50px;
  }
  .beer {
    top: -23px;
    right: 58px;
    width: 147px;
  }
  .ru {
    font-size: 45px;
  }
  .hops {
    top: -24px;
    left: 38px;
    width: 221px;
  }
  .slider-img {
    width: 272px;
  }
  .cask {
    width: 307px;
  }
  .gps-text {
    font-size: 33px;
    top: 105px;
  }
  .footer-about-info {
    font-size: 17px;
  }
}

@media (max-width: 1150px) {
  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
  .info-text {
    width: 35%;
  }
  .lang_box {
    margin-left: 17%;
    width: 17%;
  }
  .ss_box {
    margin-left: 55px;
    width: 17%;
  }
  .link_ss {
    margin-left: 0;
  }
  .left_arrow {
    margin-right: 57px;
  }
  .right_arrow {
    margin-left: 57px;
  }
}

@media (max-width: 1050px) {
  header {
    height: 240px;
  }
  .logo_box__img {
    width: 120px;
    height: 120px;
  }
  .logo_box__img:before {
    content: '';
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #cda1001a;
  }
  .logo {
    width: 120px;
    height: 120px;
  }
  .nav_text {
    margin: 24px 0px 10px 0px;
    font-size: 28px;
  }
  .ru {
    font-size: 45px;
  }
}

@media (max-width: 1001px) {
  .lang_box {
    margin-left: 15%;
  }
  .cask {
    left: 65px;
  }
  .footer-about {
    padding: 0 25px;
  }
  .bg_text-2 {
    left: 134px;
  }
  .copyrights-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 992px) {
  .logo_box__img {
    margin-left: 105px;
  }
  .hide_menu {
    display: block;
  }
  .info_box {
    position: relative;
  }
  .nav-lang {
    display: none;
    position: absolute;
    right: 146px;
    top: 0;
    margin-left: 0;
    padding: 10px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 240px;
    width: 236px;
    z-index: 5;
    border: 1px solid #cda100;
    border-radius: 26px;
    -webkit-box-shadow: inset 0 0 12px 5px #cda100;
            box-shadow: inset 0 0 12px 5px #cda100;
    background-color: rgba(88, 71, 6, 0.78);
    -webkit-animation-name: slide-on;
            animation-name: slide-on;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
  }
  .lang_box {
    width: 19%;
  }
  .nav_text {
    margin: 15px 10px 20px;
    width: 174px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-shadow: 3px 5px 1px black;
    color: #ffdd61;
  }
  .ss_box {
    position: absolute;
    top: 61px;
    left: 314px;
    margin-left: 0;
  }
  .lang_box {
    margin-left: 0;
    position: absolute;
    top: 78px;
    left: 118px;
  }
  .info-text {
    position: absolute;
    bottom: 54px;
    left: 195px;
  }
}

@media (max-width: 920px) {
  .ss_box {
    position: absolute;
    top: 61px;
    left: 292px;
  }
}

@media (max-width: 900px) {
  .ss_box {
    position: absolute;
    top: 59px;
    left: 113px;
    width: 25%;
  }
  .info-text {
    position: absolute;
    bottom: 54px;
    left: auto;
    right: 54px;
  }
  .lang_box {
    margin-left: 0;
    position: absolute;
    top: 170px;
    left: 123px;
  }
  .footer-about-info {
    font-size: 15px;
  }
  .bg_text-2 {
    left: 68px;
    top: 150px;
  }
}
/*# sourceMappingURL=style.css.map */