// // --------------### MEDIA max-width: 1150px ###-------------------//

@media (max-width: 1150px)
    .info
        display: flex
        align-items: center
        width: 100%
        justify-content: normal
    .info-text
        width: 35%
    .lang_box
        margin-left: 17%
        width: 17%
    .ss_box
        margin-left: 55px
        width: 17%
    .link_ss
        margin-left: 0
    .left_arrow
        margin-right: 57px
    .right_arrow
        margin-left: 57px

// // --------------### MEDIA max-width: 1001px ###-------------------//

@media (max-width: 1001px)
    .lang_box
        margin-left: 15%
    .cask
        left: 65px
    .footer-about
        padding: 0 25px
    .bg_text-2
        left: 134px
    .copyrights-box
        justify-content: center
    
// // --------------### MEDIA max-width: 992px ###-------------------//

@media (max-width: 992px)
    .info_box
        position: relative
    .nav-lang 
        display: none
        position: absolute
        right: 146px
        top: 0
        margin-left: 0
        padding: 10px 20px
        flex-direction: column
        height: 299px
        width: 260px
        z-index: 5
        border: 1px solid #cda100
        border-radius: 26px
        box-shadow: inset 0 0 12px 5px #cda100
        background-color: rgba(88, 71, 6, 0.78)
        @include on-animation
    .nav_text
        margin: 10px
        width: 200px
        justify-content: flex-start
        text-shadow: 3px 5px 1px black
        color: #ffdd61



    